@model IEnumerable<CentricTeam15.Models.AccountDetail>


@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@using (Html.BeginForm("Index", "Dashboard", FormMethod.Get))
{
    <p>
    </p>
    <p>
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bussinessUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.userBiography)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bussinessUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hireDate)
            </td>
            <td>
                <img src="@Url.Content("~/_Images/")@item.photo" height="100" />
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.userBiography)
                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.userBiography))
                </td>*@
            <td>
                
            </td>
        </tr>
    }

    </table>
